<div class="grid">
  <div class="md:col-6 col-12">
    <p-card styleClass="w-full h-full max-h-20rem text-center">
      <img [src]="githubStats.getTopLanguageByRepo()" class="w-full"/>
    </p-card>
  </div>
  <div class="md:col-6 col-12">
    <p-card styleClass="w-full h-full max-h-20rem text-center">
      <img [src]="githubStats.getTopLanguageByCommit()" class="w-full"/>
    </p-card>
  </div>
</div>
<div class="grid mt-2">
  <div class="col-12">
    <p-card styleClass="w-full h-full max-h-20rem text-center">
      <img [src]="githubStats.getTopLanguages()" class="w-full" />
    </p-card>
  </div>
</div>
