.left-span {
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #68499b);
}

.right-span {
    height: 1px;
    background-image: linear-gradient(to right, #68499b, rgba(0,0,0,0));
}

.section-name-box {
    background-color: #271250;
}