<p-toolbar
  styleClass="border-round sticky top-0 m-0 border-none border-bottom-1 custom-tool-bar"
>
  <div class="p-toolbar-group-start">
    <a
      pButton
      routerLink="/"
      class="p-button p-button-link font-bold text-2xl"
      icon="pi pi-at"
      [label]="username"
    ></a>
  </div>
  <div class="p-toolbar-group-end">
    <a
      pButton
      href="#projects"
      class="p-button p-button-link no-underline"
      icon="pi pi-folder"
      label="Projects"
    ></a>
    <a
      pButton
      href="#stats"
      class="p-button p-button-link no-underline"
      icon="pi pi-chart-bar"
      label="Stats"
    ></a>
    <a
      pButton
      href="#contributions"
      class="p-button p-button-link no-underline"
      icon="pi pi-download"
      label="Contributions"
    ></a>
  </div>
</p-toolbar>
