<p-toolbar styleClass="border-none w-full bg-transparent">
  <div class="p-toolbar-group-start">
    <i class="pi pi-github mr-1"></i> Github Portfolio by
    {{ "@shakeelansari63" }}
  </div>
  <div class="p-toolbar-group-end">
    <a
      pButton
      href="https://github.com/shakeelansari63/portfolio"
      class="p-button p-button-link no-underline"
      icon="pi pi-star-fill"
      label="Star"
      target="_blank"
    ></a>
    <a
      pButton
      href="https://github.com/shakeelansari63/portfolio/fork"
      class="p-button p-button-link no-underline"
      icon="pi pi-code"
      label="Fork"
      target="_blank"
    ></a>
  </div>
</p-toolbar>
