<div class="grid">
  <div class="col-12">
    <p-card styleClass="w-full h-full shadow-7 max-h-20rem text-center">
      <img [src]="githubStats.getUserMainStats()" />
    </p-card>
  </div>
</div>
<div class="grid mt-2">
  <div class="md:col-6 col-12">
    <p-card styleClass="w-full h-full shadow-7 max-h-20rem text-center">
      <img [src]="githubStats.getUserGithubStats()" />
    </p-card>
  </div>
  <div class="md:col-6 col-12">
    <p-card styleClass="w-full h-full shadow-7 max-h-20rem text-center">
      <img [src]="githubStats.getUserGithubStars()" />
    </p-card>
  </div>
</div>
