body {
  margin: 0px !important;
}

.bg-transparent {
  background-color: rgba(0,0,0,0) !important;
}

.p-card {
  background-color: #1f2023 !important;
}

.p-button.border-gradient-purple {
  border-right-color:#743ad5;
  border-left-color:#d53a9d;
  background:
    linear-gradient(to left,
      rgb(116, 58, 213) 0%, rgb(186, 58, 143) 70% ,
      transparent 70%,  transparent 85%, 
      rgb(201, 58, 128) 85%, rgb(213, 58, 157) 100%) top/100% 2px,
    linear-gradient(to left, #743ad5 0%, #d53a9d 100%) bottom/100% 2px;
}

@font-face {
    font-family: SpaceMono;
    src: url(assets/fonts/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: SpaceMono;
    src: url(assets/fonts/SpaceMono-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: SpaceMono;
    src: url(assets/fonts/SpaceMono-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: SpaceMono;
    src: url(assets/fonts/SpaceMono-Italic.ttf);
    font-style: italic;
}

.mono-spaced {
    font-family: SpaceMono;
}

.app-container {
    margin-left: auto;
    margin-right: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-container { max-width: 400px;}
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app-container {max-width: 540px;}
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app-container {max-width: 700px;}
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app-container {max-width: 900px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app-container {max-width: 1120px;}
}

:root {
  --fill-value-0: #161b22;
  --fill-value-1: #0e4429;
  --fill-value-2: #006d32;
  --fill-value-3: #26a641;
  --fill-value-4: #39d353;
}

.fill-value-0 {
  fill: var(--fill-value-0);
}

.fill-value-1 {
  fill: var(--fill-value-1);
}

.fill-value-2 {
  fill: var(--fill-value-2);
}

.fill-value-3 {
  fill: var(--fill-value-3);
}

.fill-value-4 {
  fill: var(--fill-value-4);
}